@import url('../fonts/fonts.css');

.text {
    margin-top: 2rem;
    text-align: center;
    width: 100%;
    font-family: "Raleway";
    font-size: 25px;
    font-weight: bolder;
    word-break: 1px;
    letter-spacing: 1px;
    color: black;
}

.title {
    margin-top: 5rem;
    padding-top: 2rem;
    background-color: aliceblue;
    font-size: 50px;
    letter-spacing: 7px;
    word-spacing: 7px;
    font-weight: bold;
}

.name {
    word-spacing: 1px;
}

.body {
    background-color: aliceblue;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.image {
    height: 150px;
    aspect-ratio: 16/9;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
}


.mySwiper {
    padding: 20px ;
    align-items: center;
    justify-items: center;
}

@media(max-width: 600px) {
    .name {
        font-size: 15px;
    }

    .title {
        font-size: 19px;
    }
}