@import url('../fonts/fonts.css');

.wrapper {
    width: 100%;
    background-color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: black;
    padding: 4rem 0; 
}

.text {
    font-family: "Raleway";
    font-weight: bolder;    
    font-size: 1rem;
    letter-spacing: 1px;
}

.head {
    margin-bottom: 2rem;   
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 7px;
    word-spacing: 7px;
}

.left {
    text-align: justify;
    line-height: 1.6;
    word-spacing: 1px;
}

.content {
    padding: 0 2rem;
    display: flex;
    align-items: center;    
}

.image {
    border-radius: 10px;
    object-fit: cover;
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media(max-width: 1200px) {
    .image {
        width: 100%;
        height: auto;
    }
    .content {
        flex-direction: column;
        gap: 2rem;
    }
}
@media(max-width: 600px) {
    .left {
        font-size: 14px;
    }
    .head {
        font-size: 19px;
        margin-bottom: 1.5rem;
    }
}