@import url('../fonts/fonts.css');

.landing {
    min-height: calc(100vh - 5rem - 4.2vh); /*Ensure full viewport height */
    overflow: hidden;
    width: 100vw; /*Full viewport width*/
    height: 100vh;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.hero {
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; /* Full viewport width */
    height: 100%;
    margin-bottom: 2rem;
}

.img {
    border-radius: 30px;
    position: absolute; /* Ensure it covers the whole hero section */
    width: 95%;
    height: 100%;
    overflow: hidden;
    margin-right: 12px;
    /* margin-top: 2rem; */
}

.right {
    border-radius: 20px;
    position: absolute; /*Overlay on top of the image */
    bottom: 1rem;
    background-color: rgba(36, 39, 84, .6); /* Semi-transparent background */
    width: 90%;
    height: 40%;
    align-items: center;
}

.text {
    color: #fff;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

/* News ticker styles */
.newsTicker {
    height: 75%;
    overflow: hidden;
    text-align: center;
    align-items: center;
}

.news {
    display: flex;
    flex-direction: column;
    animation: scrollUp 15s linear infinite; /* Scroll news items */
    gap: 20px;
}

.newsItem {
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* line-height: 35px; */
}

/* Scroll animation*/

@keyframes scrollUp {
    0% {
        transform: translateY(50%);
    }
    100% {
        transform: translateY(-100%);
    }
}

/* Media Queries */
/* @media(max-width: 1100px) {
    .right {
        width: 40vw;
    }
}

@media(max-width: 600px) {
    .right {
        width: 100%;
        height: 50%;
        padding-top: 50px;
        text-align: justify;
        transform: translateY(100%);
    }

    

    .text {
        font-size: 15px;
    }

    .newsItem {
        font-size: 12px;
        line-height: 15px;
    }
}

@media(max-width: 480px) {
    .right {
        padding: 10px;
        padding-top: 50px;
    }

    .text {
        font-size: 12px;
    }

    .newsItem {
        font-size: 12px;
        line-height: 20px;
    }
}  */
