@import url('../fonts/fonts.css');

.root {
  background-color: white;
  height: auto;
  overflow: hidden;
  font-family: 'Raleway';
}

.container {
  background-size: cover;
  background-position: center;
  /* height: calc(100vh - 7rem);  */
  animation: changeBackground 15s infinite; 
  padding: 2rem;
}

.box {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  padding: 2rem;
}

.heading {
  letter-spacing: 1rem;
  font-size: 3rem;
  /* color: #eff0ec;  */
  /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); */
  margin-bottom: 2rem; 
}

.description {
  font-size: 1.2rem;
  line-height: 1.5;
  color: rgb(233, 233, 233); 
  background-color: rgba(36, 39, 84, .6); /* Semi-transparent background */
  margin-top: 1rem;
  /* margin-bottom: 3rem; */
  padding: 1.5rem; 
  border: 2px solid #d3d3d3; 
  border-radius: 8px;
  /* background-color: rgba(0, 47, 202, 0.575);  */
}

@keyframes changeBackground {
  0% {
    background-image: url('/eventImages/audience.jpeg');
  }
  20% {
    background-image: url('/eventImages/image2.jpeg');
  }
  40% {
    background-image: url('/eventImages/image3.jpeg');
  }
  60% {
    background-image: url('/eventImages/image4.jpg');
  }
  80% {
    background-image: url('/eventImages/image5.jpg');
  }
  100% {
    background-image: url('/eventImages/audience.jpeg');
  }
}
@media (max-width: 768px) {
    .details {
      width: 95%; 
      padding: 1rem; 
    }

    .box{
      padding: 0;
    }
  
    .heading {
      font-size: 2rem; 
      padding-top: 2rem; 
      margin-top: 3rem;
    }
  
    .description {
      font-size: 1rem; 
      padding: 0.8rem; 
      margin-bottom: 2rem; 
    }
  
    .notification {
      font-size: 5rem; 
    }
  
    .details::before {
      font-size: 3rem; 
      line-height: 5rem; 
    }
  
   
    .container {
      margin-top: 4rem; 
    }
  }
  
  